.form-div {
    text-align: center;
}
form {
    background-color: #eee;
    padding: 1em;
    display: inline-block;
    min-width: 60%;
}
input {
    margin-top: 0.5em;
    outline: none;
    padding: 0.75em;
    border: none;
    min-width: 60%;
}
input.btn {
    min-width: 0;
    color: #fff;
    background-color: goldenrod;
    padding: 1em 2em;
    margin-top: 1.5em;
    font-weight: bold;
}
h1{
    color: goldenrod;
}
input.btn:active {
    box-shadow: inset 1px 1px 5px #333;
}
input.btn:hover {
    background-color: gold;
}
.data-entry:focus {
 background-color: burlywood;
 color: #fff;
}