div {
    text-align: center;
    margin-top: 20%;
}

div a {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 1em 2em 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid #333 ;
}
#tag:hover {
    background-color:teal;
}
a:active {
    box-shadow: inset 3px 3px 4px gray;
}
