body {
    background-color:bisque;
}
#t1 {
    font-family: 'Times New Roman';
    background-color:cornflowerblue;
    text-align: center;
}
.t2 {
    color:black;
    display: block;
}
h2 {
 font-family: tahoma;
 color: black;
 border: 2px dotted black;
 text-align: center;
 margin: 100px 50px 100px 50px;
 padding: 50px 50px 50px 50px;
}